<p-table
  [value]="data"
  [lazy]="true"
  [paginator]="true"
  [rows]="rows"
  [totalRecords]="totalRecords"
  [loading]="loading"
  [rowsPerPageOptions]="rowsPerPageOptions"
  (onLazyLoad)="onLazyLoad($event)"
>
  <!-- Caption (Global Search) -->
  <ng-template pTemplate="caption">
    <div class="flex items-center justify-between">
      <!-- LEFT SIDE SEARCH  -->
      <p-iconfield class="w-72">
        <p-inputicon styleClass="pi pi-search"></p-inputicon>

        <input
          type="text"
          pInputText
          class="w-full"
          placeholder="Search"
          [(ngModel)]="searchValue"
          (ngModelChange)="onSearchInput($event)"
        />
      </p-iconfield>

      <!-- RIGHT TOOLBAR (Projected) -->
      <div>
        <ng-content select="[tableToolbar]"></ng-content>
      </div>
    </div>
  </ng-template>

  <!-- Header -->
  <ng-template pTemplate="header">
    <tr>
      <th
        *ngFor="let col of columns"
        [pSortableColumn]="col.sortable ? col.field : undefined"
        [style.width]="col.width"
      >
        {{ col.header }}
        <p-sortIcon *ngIf="col.sortable" [field]="col.field"> </p-sortIcon>
      </th>

      <th *ngIf="rowActions">Actions</th>
    </tr>
  </ng-template>

  <!-- Body -->
  <ng-template pTemplate="body" let-row>
    <tr>
      <td *ngFor="let col of columns">
        {{ row[col.field] }}
      </td>

      <td *ngIf="rowActions" class="text-center">
        <p-menu #menu [appendTo]="'body'" [popup]="true" [model]="getRowMenuItems(row)"> </p-menu>

        <button
          pButton
          type="button"
          icon="pi pi-ellipsis-v"
          class="p-button-text p-button-rounded"
          (click)="menu.toggle($event)"
        ></button>
      </td>
    </tr>
  </ng-template>

  <!-- Empty Message -->
  <ng-template pTemplate="emptymessage">
    <tr>
      <td
        [attr.colspan]="columns.length + (rowActions ? 1 : 0)"
        class="py-6 text-center text-gray-500"
      >
        {{ emptyMessage }}
      </td>
    </tr>
  </ng-template>
</p-table>
