<div [formGroup]="form">
  <!-- Label -->
  <label *ngIf="label" class="font-medium">
    {{ label }}
    <span *ngIf="required" class="text-red-500">*</span>
  </label>

  <!-- TEXT / NUMBER -->
  <input
    *ngIf="type === 'text' || type === 'number'"
    pInputText
    [type]="type"
    [formControlName]="controlName"
    [placeholder]="placeholder"
    class="w-full"
    (blur)="onBlur($event)"
    (focus)="onFocus($event)"
    (click)="onClick($event)"
    [ngClass]="{ 'border-1 border-red-500': showError }"
  />

  <!-- PASSWORD -->
  <p-password
    *ngIf="type === 'password'"
    [formControlName]="controlName"
    [toggleMask]="true"
    [feedback]="false"
    [placeholder]="placeholder"
    styleClass="w-full"
    inputStyleClass="w-full"
    (blur)="onBlur($event)"
    (focus)="onFocus($event)"
    (click)="onClick($event)"
    [ngClass]="{ 'border-1 border-red-500': showError }"
  ></p-password>

  <!-- DROPDOWN -->
  <p-dropdown
    *ngIf="type === 'dropdown'"
    [formControlName]="controlName"
    [options]="options"
    [placeholder]="placeholder"
    class="w-full"
    (blur)="onBlur($event)"
    (focus)="onFocus($event)"
    (click)="onClick($event)"
    [ngClass]="{ 'border-1 border-red-500': showError }"
  ></p-dropdown>

  <!-- MULTISELECT -->
  <p-multiSelect
    *ngIf="type === 'multiselect'"
    [formControlName]="controlName"
    [options]="options"
    [placeholder]="placeholder"
    display="chip"
    class="w-full"
    (blur)="onBlur($event)"
    (focus)="onFocus($event)"
    (click)="onClick($event)"
    [ngClass]="{ 'border-1 border-red-500': showError }"
  ></p-multiSelect>

  <!-- Errors -->
  <small *ngIf="showError" class="block text-red-500">
    <ng-container *ngIf="control?.errors?.['required']"> {{ label }} is required </ng-container>

    <ng-container *ngIf="control?.errors?.['minlength']">
      Minimum {{ control?.errors?.['minlength'].requiredLength }} characters
    </ng-container>

    <ng-container *ngIf="control?.errors?.['email']"> Invalid email address </ng-container>
  </small>
</div>
