<div [formGroup]="form">
  <!-- Label -->
  <label *ngIf="label" class="font-medium">
    {{ label }}
    <span *ngIf="required" class="text-red-500">*</span>
  </label>

  <p-password
    [formControlName]="controlName"
    [toggleMask]="true"
    [feedback]="false"
    [placeholder]="placeholder"
    styleClass="w-full"
    inputStyleClass="w-full"
    [ngClass]="{ 'border-1 border-red-500': showError }"
  ></p-password>

  <!-- Errors -->
  <small *ngIf="showError" class="block text-red-500">
    <ng-container *ngIf="control?.errors?.['required']"> {{ label }} is required </ng-container>

    <ng-container *ngIf="control?.errors?.['minlength']">
      Minimum {{ control?.errors?.['minlength'].requiredLength }} characters
    </ng-container>
  </small>
</div>
